<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jason Telfer - {{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
      <header>        
          {% include header %}
    </header>

    <main>
      <div class="mt-5 px-2">
        <h1 class="text-center">Portfolio</h1>
        <div class="d-flex flex-wrap justify-content-around">
          {%- for post in collections.project reversed -%}
          <div class="card mt-3" style="width: 19rem;">
            <img class="card-img-top" src="{{ post.data.cardimg | url }}" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">{{ post.data.title | url}}</h3>
              <p class="card-text">{{ post.data.description | url}}</p>
              <div class="text-center">
                <a class="btn btn-primary" href="{{ post.url | url}}">More info</a>
              </div>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </main>

    <footer>
      <div class="mb-5 mt-5">
        {% include footer %}
      </div>
    </footer>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>
